.logo {
  width: 120px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.logo-text{
  color: #fff;
  margin-top: -16px;
  text-transform: uppercase;
  font-size: medium;
  text-align: center;
  font-weight: bold;
  
}  
.site-layout-background {
  background: #eeeeee;
}

.tictactoe-box {
  background: #fff;
  border-color: #777;
  border-style: solid;
  font-size: calc((min(70vh,100vw) - 100px)/3);
  line-height: calc(((min(70vh,100vw) - 100px)/3) - 30px);
}
#game {
  display: inline-grid;
  grid-template-rows: repeat(3, calc((min(70vh,100vw) - 100px)/3));
  grid-template-columns: repeat(3, calc((min(70vh,100vw) - 100px)/3));
  height: calc(min(70vh,100vw) - 100px);
  width: calc(min(70vh,100vw) - 100px);
}
